.header {
  height: 70px;
  background: #00ccbb;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
}

.main {
  background: rgb(240, 240, 240);
  padding: 1.3rem;
  &__wrapper {
    max-width: 700px;
    margin: auto;

    .p-h {
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 5;
      text-align: center;
    }

    .p-d {
      font-weight: 600;
      font-size: 1.2rem;

      text-align: center;
    }
  }
}

.signup {
  padding: 1rem;
  font-family: "Roboto", sans-serif;

  background: #f3f3f3;

  &__wrapper {
    max-width: 600px;
    margin: auto;

    form {
      width: 400px;
      label {
        cursor: pointer;
        font-weight: 500;
        margin-top: 0.9rem;
        color: rgb(77, 77, 77);
      }
      input {
        outline: none;
        border: 1px solid rgb(187, 187, 187);
        padding: 0.5rem;
      }

      .btn {
        border: 1px solid rgb(187, 187, 187);
        padding: 0.7rem;
        background: #fff;
      }
    }
  }
}

.line {
  height: 1px;
  width: 80%;
  background: rgb(190, 190, 190);
  margin-top: 1rem;
}

.red {
  background: red !important;
}
